html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 100px;
}
body {
    width: 100%;
    height: 100%;
}
footer {
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #666;
    text-align: center;
    line-height: 100px;
    color: #fff;
    position: fixed;
}
.header-content-container {
    margin: 0 auto;
    width: 960px;
    height: 100%;
    color: #fff;
}
.header-content-container > .name {
    display: inline-block;
    width: 200px;
    height: 100%;
    line-height: 100px;
    text-align: center;
    background-color: #4aaaa5;
}
.header-content-container > ul {
    float: right;
    width: auto;
    height: 100%;
    color: #777;
}
.header-content-container > ul > li {
    display: inline;
    padding: 20px;
    text-align: center;
    color: aqua;
    border-right: 1px solid #ccc;
}
section {
    width: 960px;
    height: 100%;
    background-color: black;
}
.content-container {
    margin: 0 auto;
    width: 960px;
    height: 500px;
    background-color: #fff;
}
ul li{
    float: right;
    display: inline;
    widows: 30%;
}
.row li{
    border: 10px solid black;
}
ul li:first-child {
    color: white;
}
ul:hover {
    background-color: aqua;
}
