html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
}
header {
    width: 100%;
    height: 100px;
}
body {
    width: 100%;
    height: 100%;
}
footer {
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #666;
    text-align: center;
    line-height: 100px;
    color: #fff;
    position: fixed;
}
ul {
    float: right;
    display: inline;
    padding: 0;
}